/************* шрифты ************/
@font-face {
  src: url("fonts/NunitoSans-Regular.ttf");
  font-family: "Nunito Sans";
}

@font-face {
  src: url("fonts/YesevaOne-Regular.ttf");
  font-family: "Yeseva One";
}

/* установка дефолтных настроек для элементов */
* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
button {
  background-color: #e3b873;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  border: none;
  color: white;
  text-transform: uppercase;
  width: 200px;
  height: 51px;
  border-radius: 2px;
  max-width: 100%;
}
button:hover {
  background-color: rgb(236, 222, 212);
  color: #e3b873;
}

h1,
h2,
h3,
a:not(.header-container ul a, .project-logo, .phone) {
  font-family: "Yeseva One";
  text-transform: uppercase;
}
section,
header,
footer {
  margin: 0 auto;
}

nav > ul {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
a:hover {
  color: #e3b873;
}
.textwhite {
  color: white;
}
.textblack {
  color: black;
}
.current {
  color: #e3b873;
}
/*----------------------header---------------------------*/
header {
  background-color: #131313;
  height: 84px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;
  display: flex;
  justify-content: center;
  position: relative;
}
.header-container {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 47px;
  list-style-type: none;
}
.request-button {
  width: 161px;
  height: 37px;
  display: block;
}
.phone {
  color: #e3b873;
  margin: 0 30px 0 83px;
  text-decoration: underline;
}
.project-logo {
  margin-right: 108px;
  color: #e3b873;
}
/*-------------------intro----------------------*/
.section-intro {
  background-image: url(images/p1.jpg);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 711px;
}

.container-intro {
  padding: 180px 87px 199px 89px;
}
.container-intro h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 40px;
}
.container-intro p {
  font-weight: 400px;
  font-size: 22px;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 40px;
}
.container-intro span {
  font-family: "Yeseva One";
  color: #e3b873;
}
.container-intro button {
  margin-right: 20px;
}
.container-intro button:nth-of-type(2) {
  background-color: transparent;
  border: 1px solid white;
  font-style: italic;
}
.mobilebutton {
  display: none;
}
/*-------------------completed projects------------------------------------*/
.section-completed {
  background-color: #131313;
  display: flex;
  justify-content: center;
  height: 1074px;
}
.container-completed {
  padding: 99px 0 50px 0;
}
.container-completed a:not(.current) {
  color: #ffffff4d;
  font-size: 14px;
  line-height: 19px;
}
.underlined {
  text-decoration: underline;
  color: #e3b873;
  text-underline-offset: 7px;
}
.container-completed ul {
  justify-content: flex-end;
  margin: 0 10px 52.68px 0;
}
.completed {
  display: flex;
  gap: 50px;
}

.completed p {
  font-size: 14px;
  line-height: 26.73px;
}
.completed h2,
.completed h3 {
  color: #e3b873;
}
.completed h2 {
  font-size: 27px;
  line-height: 37.42px;
  letter-spacing: -7%;
}
.subcompleted {
  position: relative;
}
.subcompleted h2,
.subcompleted p {
  margin-bottom: 34px;
}
.subcompleted span {
  font-size: 13px;
  line-height: 21px;
}
.hall-completed {
  max-width: 100%;
  max-height: 100%;
}
.info-completed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px;
}
.mobileimage,
.buttonprev,
.buttonnext {
  display: none;
}

.dot-completed {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 10px 1.5px 0;
  background-color: #ffffff4d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.arrow1-completed {
  margin-right: 20px;
}

.arrow2-completed {
  margin-left: 10px;
}

.active,
.dot-completed:hover {
  background-color: #ffffff;
}
.dots-completed {
  position: absolute;
  bottom: 0;
}
/*-------------------online control-----------------------------------*/

.container-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -318px;
}
.container-control p {
  font-size: 18px;
  padding-bottom: 93px;
  text-align: center;
  line-height: 36.83px;
  font-weight: 400;
}

.video-control {
  max-width: 100%;
  width: 900px;
  height: 520px;
  background-image: url(images/video.png);
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.video-control img:hover {
  transform: scale(1.1);
}
hr {
  width: 55px;
  border-radius: 30px;
  border: 1px solid #e3b873;
  margin-bottom: 34px;
}
form {
  display: flex;
  gap: 58px;
  margin-bottom: 39px;
  width: 769px;
}
label {
  color: #36363680;
}
input {
  border-style: none none solid none;
  border-color: #3636364d;
  width: 231px;
  padding-bottom: 8px;
}
input:focus::placeholder {
  visibility: hidden;
}
input:focus {
  outline: none;
  border: 3px solid #e3b873;
}
input::placeholder {
  color: #363636;
}
.label {
  cursor: pointer;
}
.checkbox {
  display: none;
}
.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  -webkit-text-fill-color: white;
  justify-content: center;
}
.fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}
.checkbox:checked + .fake::before {
  opacity: 1;
}
.text {
  color: #181818;
  font-size: 14px;
}
.buttonmobile {
  display: none;
}

/*------------------types of repair--------------------------*/
.container-repair {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-container {
  display: flex;
}
.request-container {
  display: flex;
}
.request-form {
  display: flex;
  flex-direction: column;
}
.services {
  background-image: url(images/rep\ bg.png);
  background-repeat: no-repeat;
}
.piggy {
  display: flex;
}
/*redecor*/

/*-----------------мобильная версия с 320px по 1250px-------------*/
@media only screen and (max-width: 1250px) and (min-width: 1083px) {
  .request-button {
    display: none;
  }
}
/*-----------адаптивный header------------*/
@media only screen and (max-width: 1235px) and (min-width: 320px) {
  nav,
  .request-button {
    display: none;
  }
  .phone {
    color: white;
    margin: 0;
    padding: 0 0 0 40px;
  }
  .project-logo {
    margin: 0;
    padding: 0 40px 0 0;
  }
  header {
    height: 56px;
  }
  .header-container {
    margin: 0 3px 0 3px;
  }
}
/*--------------адаптивная intro-------------*/
@media only screen and (max-width: 700px) and (min-width: 320px) {
  .section-intro {
    height: 500px;
  }
  .container-intro {
    padding: 85px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-intro h1 {
    font-size: 23px;
    line-height: 132.83%;
    margin-bottom: 16px;
    padding-right: 40px;
  }
  .container-intro p {
    font-size: 14px;
    line-height: 135.84%;
    margin-bottom: 50px;
    padding-right: 15px;
  }
  .container-intro button {
    margin-right: 0;
    width: 339px;
    height: 51px;
    max-width: 100%;
  }
  .mobilebutton {
    display: block;
    background-color: transparent;
    border: 1px solid white;
    font-style: italic;
    margin-top: 26px;
  }
  .container-intro button:nth-of-type(2) {
    display: none;
  }
}

/**************** responsive completed projects******************/
@media only screen and (max-width: 1220px) and (min-width: 873px) {
  .hall-completed {
    width: 50%;
    height: 50%;
  }
  .completed {
    padding: 30px;
  }
}
@media only screen and (max-width: 874px) and (min-width: 320px) {
  .completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .container-completed {
    padding: 0;
  }
  .container-completed ul {
    display: none;
  }
  .subcompleted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subcompleted p br {
    display: none;
  }
  .subcompleted p {
    margin: 0;
    font-size: 11px;
    max-width: 300px;
  }
  .subcompleted h2 {
    margin-top: 18px;
    margin-bottom: 22px;
  }
  .hall-completed {
    display: none;
  }
  .mobileimage {
    display: inline-block;
    margin: 70px 0 37px 0;
    max-width: 100%;
  }
  .slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
  }
  .buttonprev,
  .buttonnext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    user-select: none;
    display: block;
  }
  .buttonnext {
    right: 0;
  }

  .info-completed {
    text-align: left;
    width: 340px;
    margin: 0;
  }
  .info-completed h3 {
    font-size: 14px;
  }
  .info-completed span {
    font-size: 11px;
  }
  .dots-completed {
    display: none;
  }
}
@media only screen and (max-width: 1162px) {
  .dots-completed {
    position: static;
    padding-top: 50px;
  }
}
/******************responsive online control********************/
@media only screen and (max-width: 859px) and (min-width: 320px) {
  .section-control {
    background-color: #131313;
  }
  .video-control {
    width: 500px;
    height: 270px;
  }
  .video-control img {
    width: 37px;
    height: 37px;
  }
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttondesktop {
    display: none;
  }
  .buttonmobile {
    display: block;
    position: relative;
    top: 24px;
    margin-top: 30px;
    width: 340px;
    height: 51px;
  }
  .container-control p {
    font-size: 11px;
    padding: 0 18px 60px 18px;
    line-height: 169.8%;
    color: #ffffff;
    max-width: 480px;
  }
  .container-control p br {
    display: none;
  }

  .video-control img:hover {
    transform: scale(1.1);
  }

  form {
    display: flex;
    gap: 60px;
    margin: 0;
    width: 300px;
  }
  label {
    color: #ffffff80;
  }
  .first-checkbox {
    margin-top: 62px;
    text-align: left;
    width: 340px;
  }
  .text {
    color: #ffffff;
    font-size: 14px;
  }
  input {
    width: 340px;
    background-color: #131313;
    border-color: #ffffff8b;
  }
  input::placeholder {
    color: #ffffff;
  }
  input:focus {
    color: #ffffff;
  }
}

/*-----------широкий экран более 2100px-----------------*/
@media only screen and (min-width: 2100px) {
  .container-intro {
    padding-left: 26.5%;
  }
}
