/* установка дефолтных настроек для элементов */
* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
button {
  background-color: #e3b873;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  border: none;
  color: white;
  text-transform: uppercase;
  width: 207px;
  height: 51px;
  border-radius: 2px;
}
button:hover {
  background-color: white;
  color: #e3b873;
}
h1 {
  font-family: "Yeseva One", cursive;
  color: white;
  text-transform: uppercase;
}
section,
header {
  margin: 0 auto;
}
span {
  color: #e3b873;
}

nav ul {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #e3b873;
}
ul li {
  list-style-type: none;
  margin-right: 47px;
}
.textwhite {
  color: white;
}
.textblack {
  color: black;
}
/*----------------------header---------------------------*/
header {
  background-color: #131313;
  height: 84px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;
  display: flex;
  justify-content: center;
  position: relative;
}
/*-------------------section 1----------------------*/
.sect1 {
  background-image: url(images/p1.jpg);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 711px;
}
.container1 {
  display: flex;
  align-items: center;
}
.request {
  width: 161px;
  height: 37px;
  display: block;
}
.phone {
  color: #e3b873;
  margin: 0 30px 0 83px;
  text-decoration: underline;
}
.project {
  margin-right: 108px;
  color: #e3b873;
}
.current {
  color: #e3b873;
}
.container2 {
  padding: 180px 87px 199px 89px;
}
.container2 h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 40px;
}
.container2 p {
  font-weight: 400px;
  font-size: 22px;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 40px;
}
.container2 span {
  font-family: "Yeseva One", cursive;
}
.container2 button {
  margin-right: 20px;
}
.container2 button:nth-of-type(2) {
  background-color: transparent;
  border: 1px solid white;
  font-style: italic;
}
/*-------------------section 2------------------------------------*/

/*-----------------мобильная версия с 100px по 1250px-------------*/
@media only screen and (max-width: 1250px) and (min-width: 1083px) {
  .request {
    display: none;
  }
}

@media only screen and (max-width: 1084px) and (min-width: 100px) {
  nav,
  .request {
    display: none;
  }
  .phone {
    color: white;
    margin: 0;
    padding: 0 0 0 40px;
  }
  .project {
    margin: 0;
    padding: 0 40px 0 0;
  }
  header {
    height: 56px;
  }
  .container1 {
    margin: 0 3px 0 3px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 100px) {
  .sect1 {
    height: 500px;
  }
  .container2 {
    padding: 85px 4px 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container2 h1 {
    font-size: 23px;
    line-height: 132.83%;
    margin-bottom: 16px;
    padding-right: 25px;
  }
  .container2 p {
    font-size: 14px;
    line-height: 135.84%;
    margin-bottom: 50px;
  }
  .container2 button {
    margin-right: 0;
  }
  .container2 button:nth-of-type(2) {
    margin-top: 26px;
  }
  button {
    width: 320px;
    height: 51px;
    max-width: 100%;
  }
}
/*-----------широкий экран более 2100px-----------------*/
@media only screen and (min-width: 2100px) {
  .container2 {
    padding-left: 27%;
  }
}
