/* установка дефолтных настроек для элементов */
* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
button {
  background-color: #e3b873;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  border: none;
  color: white;
  text-transform: uppercase;
  width: 207px;
  height: 51px;
  border-radius: 2px;
}
button:hover {
  background-color: white;
  color: #e3b873;
}
h1,
h2,
h3,
a:not(.container1 ul a, .project) {
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
}
section,
header,
footer {
  margin: 0 auto;
}

nav ul,
ul {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
a:hover {
  color: #e3b873;
}
ul li {
  list-style-type: none;
  margin-right: 47px;
}
.textwhite {
  color: white;
}
.textblack {
  color: black;
}
.current {
  color: #e3b873;
}
/*----------------------header---------------------------*/
header {
  background-color: #131313;
  height: 84px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;
  display: flex;
  justify-content: center;
  position: relative;
}
/*-------------------section 1----------------------*/
.sect1 {
  background-image: url(images/p1.jpg);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 711px;
}
.container1 {
  display: flex;
  align-items: center;
}
.request {
  width: 161px;
  height: 37px;
  display: block;
}
.phone {
  color: #e3b873;
  margin: 0 30px 0 83px;
  text-decoration: underline;
}
.project {
  margin-right: 108px;
  color: #e3b873;
}

.container2 {
  padding: 180px 87px 199px 89px;
}
.container2 h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 40px;
}
.container2 p {
  font-weight: 400px;
  font-size: 22px;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 40px;
}
.container2 span {
  font-family: "Yeseva One", cursive;
}
.container2 button {
  margin-right: 20px;
}
.container2 button:nth-of-type(2) {
  background-color: transparent;
  border: 1px solid white;
  font-style: italic;
}
.mobilebutton {
  display: none;
}
/*-------------------section 2------------------------------------*/
.sect2 {
  background-color: #131313;
  display: flex;
  justify-content: center;
  height: 1074px;
}
.container3 {
  padding: 99px 0 50px 0;
}
.container3 a:not(.current) {
  color: #ffffff4d;
  font-size: 14px;
  line-height: 19px;
}
.underlined {
  text-decoration: underline;
  color: #e3b873;
}
.container3 ul {
  justify-content: flex-end;
  margin: 0 10px 52.68px 0;
}

.completed {
  display: flex;
  gap: 50px;
}

.completed p {
  font-size: 14px;
  line-height: 26.73px;
}
.completed h2,
.completed h3 {
  color: #e3b873;
}
.completed h2 {
  font-size: 27px;
  line-height: 37.42px;
  letter-spacing: -7%;
}
.subcompleted {
  position: relative;
}
.subcompleted h2,
.subcompleted p {
  margin-bottom: 34px;
}
.subcompleted span {
  font-size: 13px;
  line-height: 21px;
}
.hall {
  max-width: 100%;
  max-height: 100%;
}
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px;
}
.mobileimage {
  display: none;
}
.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 10px 1.5px 0;
  background-color: #ffffff4d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.arrow1 {
  margin-right: 20px;
}
.arrow2 {
  margin-left: 10px;
}
.active,
.dot:hover {
  background-color: #ffffff;
}
.dots {
  position: absolute;
  bottom: 0;
}
/*-----------------мобильная версия с 320px по 1250px-------------*/
@media only screen and (max-width: 1250px) and (min-width: 1083px) {
  .request {
    display: none;
  }
}
/*-----------адаптивный header------------*/
@media only screen and (max-width: 1084px) and (min-width: 320px) {
  nav,
  .request {
    display: none;
  }
  .phone {
    color: white;
    margin: 0;
    padding: 0 0 0 40px;
  }
  .project {
    margin: 0;
    padding: 0 40px 0 0;
  }
  header {
    height: 56px;
  }
  .container1 {
    margin: 0 3px 0 3px;
  }
}
/*--------------адаптивная секция 1-------------*/
@media only screen and (max-width: 700px) and (min-width: 320px) {
  .sect1 {
    height: 500px;
  }
  .container2 {
    padding: 85px 4px 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container2 h1 {
    font-size: 23px;
    line-height: 132.83%;
    margin-bottom: 16px;
    padding-right: 25px;
  }
  .container2 p {
    font-size: 14px;
    line-height: 135.84%;
    margin-bottom: 50px;
  }
  .container2 button {
    margin-right: 0;
  }
  button {
    width: 320px;
    height: 51px;
    max-width: 100%;
  }
  .mobilebutton {
    display: block;
    background-color: transparent;
    border: 1px solid white;
    font-style: italic;
    margin-top: 26px;
  }
  .container2 button:nth-of-type(2) {
    display: none;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 873px) {
  .hall {
    width: 50%;
    height: 50%;
  }
  .completed {
    padding: 30px;
  }
}
/* responsive section 2*/
@media only screen and (max-width: 874px) and (min-width: 320px) {
  .completed {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }
  .container3 {
    padding: 0;
  }
  .container3 ul {
    display: none;
  }
  .subcompleted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subcompleted p br {
    display: none;
  }
  .subcompleted p {
    margin: 0;
    padding: 10px;
    font-size: 11px;
  }
  .subcompleted h2 {
    margin-top: 18px;
    margin-bottom: 22px;
  }
  .hall {
    display: none;
  }
  .mobileimage {
    display: inline-block;
    margin: 70px 0 37px 0;
    max-width: 100%;
  }
  .info {
    text-align: left;
    width: 340px;
    margin: 0;
  }
  .info h3 {
    font-size: 14px;
  }
  .info span {
    font-size: 11px;
  }
  .dots {
    display: none;
  }
}
@media only screen and (max-width: 1162px) {
  .dots {
    position: static;
    padding-top: 50px;
  }
}

/*-----------широкий экран более 2100px-----------------*/
@media only screen and (min-width: 2100px) {
  .container2 {
    padding-left: 27%;
  }
}
